{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ title }} - ERP Shoe Production{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'manufacturing_list' %}">Manufacturing</a></li>
                <li class="breadcrumb-item"><a href="{% url 'bill_of_materials_list' %}">BOMs</a></li>
                <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
        </nav>

        <h1><i class="fas fa-list"></i> {{ title }}</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>
                    <h5>BOM Items</h5>
                    {{ formset.management_form }}
                    <div id="bom-items">
                        {% for bom_form in formset %}
                        <div class="bom-item card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% bootstrap_field bom_form.material %}
                                    </div>
                                    <div class="col-md-2">
                                        {% bootstrap_field bom_form.quantity %}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="id_unit_cost_{{ forloop.counter0 }}">BOM Cost</label>
                                            <input type="number" name="bomitem_set-{{ forloop.counter0 }}-unit_cost" class="form-control" id="id_unit_cost_{{ forloop.counter0 }}" step="0.01" value="{{ bom_form.instance.unit_cost|default:0 }}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Allocated Stages:</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="bomitem_set-{{ forloop.counter0 }}-allocated_stages" value="gurat" id="id_allocated_stages_{{ forloop.counter0 }}_0" {% if 'gurat' in bom_form.allocated_stages.value %}checked{% endif %}>
                                                        <label class="form-check-label" for="id_allocated_stages_{{ forloop.counter0 }}_0">Gurat (Cutting)</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="bomitem_set-{{ forloop.counter0 }}-allocated_stages" value="assembly" id="id_allocated_stages_{{ forloop.counter0 }}_1" {% if 'assembly' in bom_form.allocated_stages.value %}checked{% endif %}>
                                                        <label class="form-check-label" for="id_allocated_stages_{{ forloop.counter0 }}_1">Assembly</label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="bomitem_set-{{ forloop.counter0 }}-allocated_stages" value="press" id="id_allocated_stages_{{ forloop.counter0 }}_2" {% if 'press' in bom_form.allocated_stages.value %}checked{% endif %}>
                                                        <label class="form-check-label" for="id_allocated_stages_{{ forloop.counter0 }}_2">Press</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="bomitem_set-{{ forloop.counter0 }}-allocated_stages" value="finishing" id="id_allocated_stages_{{ forloop.counter0 }}_3" {% if 'finishing' in bom_form.allocated_stages.value %}checked{% endif %}>
                                                        <label class="form-check-label" for="id_allocated_stages_{{ forloop.counter0 }}_3">Finishing</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-danger btn-sm remove-item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-sm" id="add-item">
                        <i class="fas fa-plus"></i> Add Item
                    </button>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Save BOM
                        </button>
                        <a href="{% url 'bill_of_materials_list' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ materials|json_script:"materials-data" }}
<script>
$(document).ready(function() {
    // Function to populate material options
    function populateMaterialOptions(selectElement) {
        selectElement.empty();
        selectElement.append('<option value="">Select Material</option>');
        var materials = JSON.parse(document.getElementById('materials-data').textContent);
        materials.forEach(function(material) {
            selectElement.append('<option value="' + material.id + '" data-price="' + material.unit_price + '">' + material.code + ' - ' + material.name + '</option>');
        });
    }

    // Function to calculate BOM cost
    function calculateBOMCost(quantityInput, costInput) {
        var quantity = parseFloat(quantityInput.val()) || 0;
        var materialSelect = quantityInput.closest('.bom-item').find('select[name*="-material"]');
        var selectedOption = materialSelect.find('option:selected');
        var unitPrice = parseFloat(selectedOption.data('price')) || 0;
        var bomCost = quantity * unitPrice;
        costInput.val(bomCost.toFixed(2));
    }

    // Add new BOM item
    $('#add-item').click(function() {
        var totalForms = parseInt($('#id_bomitem_set-TOTAL_FORMS').val());
        var newItem = `
            <div class="bom-item card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="bomitem_set-${totalForms}-material" class="form-control material-select">
                                <option value="">Select Material</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="number" name="bomitem_set-${totalForms}-quantity" class="form-control quantity-input" step="0.01" placeholder="Quantity">
                        </div>
                        <div class="col-md-2">
                            <input type="number" name="bomitem_set-${totalForms}-unit_cost" class="form-control" step="0.01" placeholder="BOM Cost" readonly>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Allocated Stages:</label>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="bomitem_set-${totalForms}-allocated_stages" value="gurat" id="id_allocated_stages_${totalForms}_0">
                                            <label class="form-check-label" for="id_allocated_stages_${totalForms}_0">Gurat (Cutting)</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="bomitem_set-${totalForms}-allocated_stages" value="assembly" id="id_allocated_stages_${totalForms}_1">
                                            <label class="form-check-label" for="id_allocated_stages_${totalForms}_1">Assembly</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="bomitem_set-${totalForms}-allocated_stages" value="press" id="id_allocated_stages_${totalForms}_2">
                                            <label class="form-check-label" for="id_allocated_stages_${totalForms}_2">Press</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="bomitem_set-${totalForms}-allocated_stages" value="finishing" id="id_allocated_stages_${totalForms}_3">
                                            <label class="form-check-label" for="id_allocated_stages_${totalForms}_3">Finishing</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger btn-sm remove-item">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        `;
        $('#bom-items').append(newItem);

        // Populate material options for the new item
        var newSelect = $('#bom-items .bom-item:last .material-select');
        populateMaterialOptions(newSelect);

        // Update formset management form
        $('#id_bomitem_set-TOTAL_FORMS').val(totalForms + 1);
    });

    // Remove BOM item
    $(document).on('click', '.remove-item', function() {
        $(this).closest('.bom-item').remove();
        // Update formset management form after removal
        var totalForms = parseInt($('#id_bomitem_set-TOTAL_FORMS').val()) - 1;
        $('#id_bomitem_set-TOTAL_FORMS').val(totalForms);
    });

    // Calculate BOM cost when quantity changes
    $(document).on('input', '.quantity-input', function() {
        var quantityInput = $(this);
        var costInput = quantityInput.closest('.bom-item').find('input[name*="-unit_cost"]');
        calculateBOMCost(quantityInput, costInput);
    });

    // Calculate BOM cost when material changes
    $(document).on('change', '.material-select', function() {
        var materialSelect = $(this);
        var quantityInput = materialSelect.closest('.bom-item').find('.quantity-input');
        var costInput = materialSelect.closest('.bom-item').find('input[name*="-unit_cost"]');
        calculateBOMCost(quantityInput, costInput);
    });

    // Initialize existing items - only populate if empty
    $('.material-select').each(function() {
        var selectElement = $(this);
        if (selectElement.find('option').length <= 1) {  // Only has the default "Select Material" option
            populateMaterialOptions(selectElement);
        }
    });

    // Calculate initial BOM costs for existing items
    $('.bom-item').each(function() {
        var quantityInput = $(this).find('.quantity-input');
        var costInput = $(this).find('input[name*="-unit_cost"]');
        calculateBOMCost(quantityInput, costInput);
    });
});
</script>
{% endblock %}